.productPage_upperHalf_container{
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0 0 35px;
}
.product_image_secondary{
    display: grid;
}
.product_page_image{
    width: 80px;
    height: 50px;
    margin: 0;
    padding: 0;
}
.product_page_image_main{
    width: 500px;
    height: 300px;
    margin: 0;
    padding: 0;
}
.product_cart_btn{
    background-color: pink;
    padding: 5px;
    text-align: center;
    border-radius: 7px;
    border: 1px  solid black;
}
.product_cart_btn p{
    margin: 0;
}

/* check box styling */

/* .round {
    position: relative;
}

.round label {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
  
}

.round input[type="checkbox"] {
  visibility: hidden;
}
  
.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}
  
.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
html, body {
  height: 100%;
  margin: 0;
} */

/* end of check box styling */