.ProductBox{
    margin: 5px;
    padding: 5px;
    /* height: 100px;
    width: 200px; */
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    display: table;
    height: 220px;
    width: 170px;
}
.ProductBox p,.ProductBox h3,.ProductBox h4{ 
    margin: 0;
}
.product_image{
    height: 100px;
    width: 150px;
    margin: 0 0 5px 0;
}
.cart_btn{
    height: 30px;
    width: 150px;
    background-color: #ff6f61;
    border: 1px solid #ff6f61;
}
.secondary{
    color:#757575;
}
.ProductBox:hover{
    /* border: 1px solid black; */
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product_price{
    margin: 10px 0 2px 0;
}