.ProductBox{
    margin: 5px;
    padding: 5px;
    /* height: 100px;
    width: 200px; */
    border: 1px solid black;
    border-radius: 10px;
    display: table;
}
.ProductBox p,.ProductBox h3,.ProductBox h4{ 
    margin: 0;
}
.product_image{
    height: 100px;
    width: 150px;
    margin: 0 0 5px 0;
}