.products{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.productbrowser{
    background-color: 	#F9F6EE;
    border-bottom: 2px solid #f1f4f6;

    /* margin: 10px 10px 10px 15px; */
}
.productbrowser p{
    margin: 0;
}
.product_heading{
    text-align: center;
}