.offers_container{
    width: 487px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 4px #ddd;
    -webkit-box-shadow:  0 2px 4px #ddd;
    -moz-box-shadow:  0 2px 4px #ddd;
    border: 1px  dashed black;
}
.offer{
    padding: 8px 14px;
    margin: 3px;
    font-size: 12px;
}
#hidden{
    display: none;
}