/* .about_container{
    text-align: center;
} */
.about_leaders{
    display: flex;
    justify-content: center;
    text-align: center;
}
.about_leaders span{
    margin: 130px;
}
.mission{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mission h1{
    margin: 0;
    padding: 0;
}
.Leaders{
    text-align: center;
}