/* .about_container{
    text-align: center;
} */
.about_leaders{
    display: flex;
    justify-content: center;
    text-align: center;
}
.about_leaders span{
    margin: 130px;
}
.mission{
    display: flex;
    flex-direction: row;
}