.footer_container{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}
.footer_container_second{
    display: contents;
}
.map_embaded{
    margin: 20px 0px;
}