.footer_container{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px 0px;
    list-style-type: none;
}
.footer_container_second{
    display: contents;

}
.ul{
    padding: 0 0 0 7px;
    
}
.ul li {
    padding: 3px 0;
}
li{
    list-style-type: none;
}