.Brands{
    margin: 10px 10px 10px 5px ;
}
.Brands p,.Brands div{
    margin: 5px 0 0 0;
}
.brand_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Heading{
    text-align: center;
}
.brands_box{
    height: 150px;
    width: 150px;
    /* margin: 20px; provide too much gap */
    background-color:cadetblue;
    color: white;
}